.center{
  text-align:center;
}

.itemSpacing {
  padding-left: 5px;
  padding-right: 5px;
}

.linkSize{
  font-size:18px;
}

.btnSpace{
  padding: 1px 7px 1px 7px
}

body {
    background-image: linear-gradient(to left top, #e8f5ff, #f0f7ff, #f6f9ff, #fbfcff, #ffffff);
    min-height: 100vh;
    overflow: scroll;
}
