{% extends "base.html" %}

{% block title %}
Drafts
{% endblock %}

{% block content %}
<h1>
  Draft ID {{ content['id'] }}
</h1>

<form action="#" method="POST">

  {% if content['question'] == "(New draft)" %}
  <input class="form-control" name="question" placeholder="Question prompt">
  {% else %}
  <input class="form-control" name="question" value="{{ content['question'] }}" placeholder="Question prompt">
  {% endif %}

  <br>
  
  <div class="form-group">
    <label>Associated with college:</label>
    <select class="form-control" name="college-id">
      {% for i in range(colleges|length) %}
      {% if college_ids[i] == content["college_id"] %}
      <option value="{{ college_ids[i] }}" selected="selected">{{ colleges[i][1] }}</option>
      {% else %}
      <option value="{{ college_ids[i] }}">{{ colleges[i][1] }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  
  <br>

  <textarea class="form-control" rows="20" name="answer" placeholder="Your response">{{ content['answer'] }}</textarea>

  <br>

  <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Save">

</form>
{% endblock %}

{% block javascript %}
<script>
  
</script>
{% endblock %}
