
{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}
{% block content %}

{% if not loggedIn %}
<img id="bg-img" src="/static/vessel-unblur-photo.JPG"></img>
<div class="container">
  <div class="jumbotron " style="opacity: 1; background-color: rgba(180,180,180,0); color: white; text-shadow: 1px 1px 3px black;">
    <h1 class="display-3"><b>Welcome to Actavius</b></h1><br>
    <p class="jumbo-text">Actavius is a web app designed to help you keep track of the college application process</p>
    <hr class="my-4">
    <p class="jumbo-text">You can search for colleges, learn relevant information about colleges, write your application essays, and manage all aspects of the process in this app.</p>
    <p class="lead">
      <br>
      <a class="btn btn-primary btn-lg" style="padding-left: 30px; padding-right: 30px;" href="/register" role="button">Get started!</a>
    </p>
  </div>
</div>
{% endif %}

{% if loggedIn %}
<h1 class="mb-3">Hi, {{ name }}!</h1>
<h3 class="mb-3">To-do list
<span style=" display: inline; float:right;">
    <form action="#" method="POST" style="display:inline;">
        <input style="display:inline; float: right;" type="button" style="opacity:.85" class="btn btn-success" name="new-todo" value="Add to-do" data-toggle="modal" data-target="#modal-add">
    </form>
</span>
</h3>
<table class="table table-bordered">
    <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>College</th>
        <th>Actions</th>
    </tr>
    {% for todo in all_todos %}
    <tr>
        <td>{{todo['task']}}</td>
        <td>{{todo['deadline']}}</td>
        {% if todo['unitid'] == -1 %}
        <td>{{todo['college_name']}}</td>
        {% else %}
        <td><a href="/college/{{todo['unitid']}}">{{todo['college_name']}}</a></td>
        {% endif %}
        <td>
            {% if todo['is_todo'] %}
            <form action="/" method="post">
                <button class="btn btn-outline-danger" name="delete" value="delete_todo{{todo['id']}}">Delete</button>
            </form>
            {% else %}
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-edit{{todo['id']}}">Edit</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<div class="modal fade" id="modal-add" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><em>Add a To-do</em></h5>
            </div>
            <form class="was-validated" method="POST" action="/" style="padding: 15px;">
                <div class="modal-body">
                    <label for="task" class="text-center col-sm-0 col-form-label col-form-label-lg">To-do</label>
                    <input class="form-control my-1" type="text" name="task" placeholder="Add a task..." autofocus required>
                    <label for="deadline" class="text-center col-sm-0 col-form-label col-form-label-lg">College:</label>
                    <div class="form-group" >
                        <select class="form-control" name="college">
                            <option value="-1">All Colleges</option>
                            {% for college in all_colleges %}
                            <option value="{{college[0]}}">{{college[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="deadline" class="text-center col-sm-0 col-form-label col-form-label-lg">To-do Deadline:</label>
                    <input class="form-control my-1" type="date" name="deadline" placeholder="YYYY-MM-DD" autofocus required>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" name="add" value="Add">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for college in all_colleges %}
<div class="modal fade" id="modal-edit{{college[0]}}" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><em>Edit College Deadline</em></h5>
            </div>
            <form class="was-validated" method="POST" action="/" style="padding: 15px;">
                <div class="modal-body">
                    <label for="deadline" class="text-center col-sm-0 col-form-label col-form-label-lg">To-do Deadline:</label>
                    <input class="form-control my-1" type="date" name="deadline" value="{{college[2]}}" autofocus required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit" name="college_edit" value="{{college[0]}}">Edit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block style %}
<style>
    #bg-img {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -9999;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    img {
        filter: blur(15px);
        -webkit-filter: blur(15px);
        flex-shrink: 0;
        min-width: 100%;
        object-fit: cover;
    }
    #footer {
        color: lightgray;
    }
    .jumbo-text{
        font-size: 170%;
        font-weight: 300;
    }
</style>
{% endblock %}
