{% extends "base.html" %}

{% block title %}
Add a College
{% endblock %}

{% block content %}
<form class="row was-validated" method="POST" action="#">
  <div class="col"></div>
  <div class="col" style="max-width: 550px;">
    <label class="h2 text-center">Add {{ name }} to List</label>
  <div class="text-center">
      <label for="deadline" class="text-center col-sm-0 col-form-label col-form-label-lg">Deadline:</label>
      <div class="form-group">
        <input class="form-control my-1" type="date" name="deadline" placeholder="YYYY-MM-DD" autofocus required>
      </div>
      <button type="submit" name="submit" class="btn btn-outline-primary mb-2 my-1">Submit</button>
  </div>
  </div>
  <div class="col"></div>
</form>
{% endblock %}
