{% extends "base.html" %}
{% block head %}
{% block title %}
Financial Aid
{% endblock %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="card border-info mb-3">
    <div class="card-header"><h3>College Name Goes Here</h3><div style="align:right;display:inline;">button</div></div>
    <div class="card-body">
      General Information
      <hr>
      <div class="row">
        <div class="col-md-4 center">
          <div class="card border-info mb-3">
            <div class="card-header"><strong>ACCEPTANCE RATE</strong></div>
            <div class="card-body">
              <img src="https://banner2.kisspng.com/20180420/zhq/kisspng-donuts-pie-chart-android-donut-creative-chart-5ad990a06947b7.3138264915242077764312.jpg" style="width:200px;hei">
              <p class="card-text">Acceptance rate is the percentage of applicants who were admitted into the school. (placeholder above)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-info mb-3 center">
            <div class="card-header"><strong>GRADUATION RATE</strong></div>
            <div class="card-body">
              <img src="https://banner2.kisspng.com/20180420/zhq/kisspng-donuts-pie-chart-android-donut-creative-chart-5ad990a06947b7.3138264915242077764312.jpg" style="width:200px;hei">
              <p class="card-text">Graduation rate is the percentage of students who graduated within 4 years. (placeholder above)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-info mb-3">
            <div class="card-header center"><strong>STANDARDIZED TESTING</strong></div>
            <div class="card-body">
              <h5 class="card-title">Info card title</h5>
              <p class="ca  rd-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
