{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
<h1>Welcome to Actavius</h1>

{% if loggedIn %}
<h3>Hi, {{ name }}!</h3>
<h3>Here are your todos.</h3>
<table border="1">
    <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>College</th>
    </tr>
    {% for todo in all_todos %}
    <tr>
        <td>{{todo['task']}}</td>
        <td>{{todo['deadline']}}</td>
        <td><a href="/college/{{todo['unitid']}}">{{todo['college_name']}}</a></td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}
