{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}

{% block content %}
<h3 class="text-center">Your Colleges</h3>
<table class = "table">
    {% for college in all_colleges %}
    <tr>
        <td><a href="/college/{{ college[1] }}">{{ college[0] }}</a></td>
        <td><button class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-{{college[1]}}">Delete</button></td>
    </tr>
    {% endfor %}
</table>

{% for college in all_colleges %}
<div class="modal fade" id="modal-{{college[1]}}" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><em>Are you absolutely sure?</em></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          You are about to remove <strong>{{ college[0] }}</strong> from your list.<br>
          <b>This action is irreversible.</b>
        </p>
      </div>
      <div class="modal-footer">
        <form action="" method="POST">
          <input class="btn btn-danger" type="submit" name="delete" value="Remove {{ college [1]}}">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
